@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$dark_navy: #102e4a;
$light_gray: #9a9a9a;
$blue: #0267c1;
$green: #1baf5d;
$google_red: #d84d3b;
$facebook_blue: #395592;
